@model DOANCN.Models.TblSinhvien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblSinhvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Msv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Msv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sodienthoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sodienthoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhapHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhapHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLopNavigation.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNganhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNganhNavigation.MaNganh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachucvuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachucvuNavigation.Machucvu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatrangthaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatrangthaiNavigation.Matrangthai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idsinhvien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
