@model IEnumerable<DOANCN.Models.TblHocKy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenhocky)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhocky)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idkyhoc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idkyhoc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idkyhoc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
