@model List<DOANCN.Models.TblMucTieuChi>

<style>
    .invalid-input {
        border-color: red;
    }

    .error-message {
        display: none;
        color: red;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }
</style>

<form id="dataForm" method="post" action="/ChiTietDiemRL/Save" enctype="multipart/form-data">
    <input type="hidden" id="idPhieu" name="idPhieu" value="@ViewData["IdPhieu"]" />
    <input type="hidden" id="mucTieuChiIds" name="mucTieuChiIds" />
    <input type="hidden" id="totalScoreInput" name="totalScore" />

    <main class="ttr-wrapper">
        <div class="container-fluid">
            <h1>Phiếu chấm điểm của @Context.Session.GetString("UserName")</h1>
            <div class="row">
                <div class="col-lg-12 m-b30 table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Nội dung đánh giá</th>
                                <th>Điểm tối đa</th>
                                <th>Điểm tự đánh giá</th>
                                <th>Điểm lớp trưởng đánh giá</th>
                                <th>Minh chứng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mucI in Model.Where(m => m.Cap == 1 && m.Cha == 0))
                            {
                                <tr>
                                    <td colspan="5">
                                        <h5 style="max-width: 500px; word-wrap: break-word;">@mucI.Loai .@mucI.Ten</h5>
                                    </td>
                                </tr>
                                @foreach (var mucII in Model.Where(m => m.Cap == 2 && m.Cha == mucI.IdmucTieuChi))
                                {
                                    <tr>
                                        <td>@mucII.Loai .@mucII.Ten</td>
                                        <td>@mucII.ThangDiem</td>
                                        <td>
                                            <input type="text" name="DiemTuDanhGia[@mucII.IdmucTieuChi]" data-thangdiem="@mucII.ThangDiem" />
                                            <br>
                                            <span class="error-message">Giá trị không hợp lệ</span>
                                        </td>
                                        <td style="display:none;">
                                            <input type="text" name="DiemLopTruongDanhGia[@mucII.IdmucTieuChi]" />
                                        </td>
                                        <td>
                                            @if (mucII.ChoPhepMinhChung == true)
                                            {
                                                <input type="file" name="minhChung[@mucII.IdmucTieuChi][]" class="file-upload" multiple />
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <span id="total-score">Tổng điểm: 0</span>
                    <br />
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </main>
</form>

<script>
    function checkPageState() {
        return sessionStorage.getItem('pageState') === 'submitted';
    }

    function validateInputs() {
        var isValid = true;
        var inputs = document.querySelectorAll('input[name^="DiemTuDanhGia["]');

        inputs.forEach(function (input) {
            var enteredValue = parseFloat(input.value);
            var thangDiem = parseFloat(input.dataset.thangdiem);
            var errorMessage = input.nextElementSibling;

            if (isNaN(enteredValue) || enteredValue > thangDiem || enteredValue < 0) {
                errorMessage.style.display = 'inline';
                input.classList.add('invalid-input');
                isValid = false;
            } else {
                errorMessage.style.display = 'none';
                input.classList.remove('invalid-input');
            }
        });

        return isValid;
    }

    function calculateTotalScore() {
        var totalScore = 0;
        var inputs = document.querySelectorAll('input[name^="DiemTuDanhGia["]');

        inputs.forEach(function (input) {
            var enteredValue = parseFloat(input.value);
            var thangDiem = parseFloat(input.dataset.thangdiem);
            if (!isNaN(enteredValue) && enteredValue <= thangDiem) {
                totalScore += enteredValue;
            }
        });

        return totalScore;
    }

    function updateTotalScore() {
        var totalScore = calculateTotalScore();
        document.getElementById('totalScoreInput').value = totalScore;
        document.getElementById('total-score').textContent = 'Tổng điểm: ' + totalScore;
    }

    document.addEventListener('input', function (event) {
        if (event.target.matches('input[name^="DiemTuDanhGia["]')) {
            updateTotalScore();
        }
    });

    var uploadedFileIds = [];

    function handleFileUpload(input) {
        var idMucTieuChi = input.name.match(/\[(\d+)\]/)[1];
        if (!uploadedFileIds.includes(idMucTieuChi)) {
            uploadedFileIds.push(idMucTieuChi);
        }
        document.getElementById('mucTieuChiIds').value = JSON.stringify(uploadedFileIds);
    }

    document.getElementById('dataForm').addEventListener('submit', function (event) {
        event.preventDefault();

        if (checkPageState()) {
            alert("Bạn đã gửi phiếu. Vui lòng không spam.");
            window.location.href = '/home';
            return;
        }

        if (!validateInputs()) {
            return;
        }

        // Gọi hàm handleFileUpload cho mỗi trường input file
        var fileInputs = document.querySelectorAll('input[type="file"]');
        fileInputs.forEach(function (input) {
            handleFileUpload(input);
        });

        sessionStorage.setItem('pageState', 'submitted');

        var formData = new FormData(this);

        $.ajax({
            url: '/ChiTietDiemRL/Save',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                console.log("Dữ liệu đã được gửi thành công lên server.");
                alert("Gửi thành công");
                window.location.href = '/ChamDiemRL';
            },
            error: function (xhr, status, error) {
                console.error("Lỗi khi gửi dữ liệu lên server:", error);
                
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        updateTotalScore();
    });
</script>
