@model List<DOANCN.Models.TblMucTieuChi>

<style>
    .invalid-input {
        border-color: red;
    }

    .error-message {
        display: none;
        color: red;
    }
</style>

<form id="dataForm" method="post" action="/ChiTietDiemRL/Save">
    <input type="hidden" id="idPhieu" name="idPhieu" value="@ViewData["IdPhieu"]" />

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
    </style>

    <main class="ttr-wrapper">
        <div class="container-fluid">
            <h1>Phiếu chấm điểm của @Context.Session.GetString("UserName")</h1>
            <div class="row">
                <div class="col-lg-12 m-b30 table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Nội dung đánh giá</th>
                                <th>Diểm tối đa</th>
                                <th>Điểm tự đánh giá</th>
                                <th>Điểm lớp trưởng đánh giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mucI in Model.Where(m => m.Cap == 1 && m.Cha == 0))
                            {
                                <tr>
                                    <td colspan="5">
                                        <h5 style="max-width: 500px; word-wrap: break-word;">@mucI.Loai .@mucI.Ten</h5>
                                    </td>
                                </tr>
                                @foreach (var mucII in Model.Where(m => m.Cap == 2 && m.Cha == mucI.IdmucTieuChi))
                                {
                                    <tr>
                                        <td>@mucII.Loai .@mucII.Ten</td>
                                        <td>@mucII.ThangDiem</td>
                                        <td>
                                            <input type="text" name="DiemTuDanhGia[@mucII.IdmucTieuChi]" data-thangdiem="@mucII.ThangDiem" />
                                            <br>
                                            <span class="error-message" style="display: none; color: red;">Giá trị không hợp lệ</span>
                                        </td>
                                        <td style="display:none;">
                                            <input type="text" name="DiemLopTruongDanhGia[@mucII.IdmucTieuChi]" />
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                    <span id="total-score">Tổng điểm: 0</span>
                    <br />
                    <input type="hidden" id="totalScoreInput" name="totalScore" />
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </main>
</form>

<script>
    // Hàm kiểm tra trạng thái của trang
    function checkPageState() {
        // Kiểm tra xem trang có lưu trạng thái không
        var savedState = sessionStorage.getItem('pageState');
        if (savedState && savedState === 'submitted') {

            return true;
        } else {

            return false;
        }
    }


    function validateInput(event) {
        // Kiểm tra trạng thái của trang
        if (checkPageState()) {
            // Nếu trang đã được gửi dữ liệu trước đó, ngăn chặn việc submit
            event.preventDefault();
            // Hiển thị thông báo
            alert("Bạn đã gửi phiếu. Vui lòng không spam.");
            window.location.href = '/home';
        } else {

            var inputs = document.querySelectorAll('input[name^="DiemTuDanhGia["]');
            var isValid = true;

            inputs.forEach(function (input) {
                var enteredValue = parseFloat(input.value);
                var thangDiem = parseFloat(input.dataset.thangdiem);
                var errorMessage = input.parentElement.querySelector('.error-message');

                if (!input.value.trim() || enteredValue > thangDiem) {
                    errorMessage.style.display = 'inline';
                    input.classList.add('invalid-input');
                    isValid = false;
                } else {
                    errorMessage.style.display = 'none';
                    input.classList.remove('invalid-input');
                }
            });

            if (!isValid) {
                event.preventDefault();
            } else {
                sessionStorage.setItem('pageState', 'submitted');
            }
        }
    }

    function calculateTotalScore() {
        var totalScore = 0;
        var inputs = document.querySelectorAll('input[name^="DiemTuDanhGia["]');
        inputs.forEach(function (input) {
            var enteredValue = parseFloat(input.value);
            var thangDiem = parseFloat(input.dataset.thangdiem);
            if (!isNaN(enteredValue) && enteredValue <= thangDiem) {
                totalScore += enteredValue;
            }
        });
        return totalScore;
    }

    function setTotalScore() {
        var totalScore = calculateTotalScore();
        document.getElementById('totalScoreInput').value = totalScore;
        document.getElementById('total-score').textContent = 'Tổng điểm: ' + totalScore;
    }


    setTotalScore();


    var inputs = document.querySelectorAll('input[name^="DiemTuDanhGia["]');
    inputs.forEach(function (input) {
        input.addEventListener('input', function () {
            setTotalScore();
        });
    });
    document.getElementById('dataForm').addEventListener('submit', validateInput);
</script>

